
<button (click)="editedUser = loginUser">Update?</button>

<div class="container container-fluid" *ngIf="editedUser">
  <div class="updateLogin">
    <form class="css-form form-control">
        <h3>Username</h3>
        <input type="text" name="username" [(ngModel)]="editedUser.username">
        <h3>Password</h3>
        <input type="password" name="password" [(ngModel)]="editedUser.password">
      </form>
      <button type="submit" (click)="updateLogin(editedUser)">Update Login</button>
    </div>
  </div>


  <!-- ////////////////////////// -->



    <!-- ////////////////// -->

    <div class="form-style-8">
      <h2>Login to your account</h2>
      <form>
        <input type="text" name="field1" placeholder="Username" />
        <input type="email" name="field2" placeholder="Email" />
        <input type="password" name="field3" placeholder="Password" />
        <input type="button" value="Login" />
      </form>
    </div>



    <!-- //////////////////////////////////////////////////// -->






    <!-- Admin Functions -->
    <div *ngIf="loginUser.role==='ADMIN'">
      <h1>Im an Admin!</h1>
      <div class="container-fluid">
        <div class="space">
        <h1>User Results</h1>


        <table class="table table-striped table-hover">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Status</th>
                <th>Update User</th>
                <th>Change User Status</th>

              </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let user of users">
                  <td>{{user.id}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.password}}</td>
                  <td *ngIf="loginUser.active">Active</td>
                  <td *ngIf="!loginUser.active">Inactive</td>
                  <td *ngIf="loginUser.active">
                  <form><input type="hidden" name="userId" value="${user.id}"><button type="submit" class="btn btn-dark btn-sm">Disable this User</button></form>

                  <form><input type="hidden" name="userId" value="${user.id}"><button type="submit"class="btn btn-success btn-sm">Enable this User</button></form>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
