
<button (click)="editedUser = loginUser">Update?</button>

<div class="form-style-8" *ngIf="editedUser">
  <h2>Update Login Credentials</h2>
  <div class="updateLogin">
    <form class="css-form form-control">
        <h3>Username</h3>
        <input type="text" name="username" [(ngModel)]="editedUser.username">
        <h3>Password</h3>
        <input type="password" name="password" placeholder="password"  [(ngModel)]="editedUser.password">
      </form>
      <button type="submit" (click)="updateLogin(editedUser)">Update Login</button>
    </div>
  </div>


  <!-- ////////////////////////// -->



    <!-- ////////////////// -->

    <!-- <div class="form-style-8">
      <h2>Login to your account</h2>
      <form>
        <input type="text" name="field1" placeholder="Username" />
        <input type="email" name="field2" placeholder="Email" />
        <input type="password" name="field3" placeholder="Password" />
        <input type="button" value="Login" />
      </form>
    </div>
 -->


    <!-- Admin Functions -->
    <div *ngIf="loginUser.role==='ADMIN'">
      <div class="container-fluid">
        <div class="space">
        <h1>User Results</h1>


        <table class="table table-striped table-hover">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Status</th>
                <th>Change User Status</th>

              </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let user of users">
                  <td>{{user.id}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.password}}</td>
                  <td *ngIf="user.active">Active</td>
                  <td *ngIf="!user.active">Inactive</td>
                  <td *ngIf="user.active">
                  <form><input type="hidden" name="active" value="{{user.active}}"><button type="submit" class="btn btn-dark btn-sm" (click)="user.active=false;adminUpdate(user)">Disable this User</button></form>
                </td>
                <td *ngIf="!user.active">
                  <form><input type="hidden" name="active" value="{{user.active}}"><button type="submit"class="btn btn-success btn-sm" (click)="user.active=true;adminUpdate(user)">Enable this User</button></form>
                </td>
                </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="container-fluid">
          <div class="space">
          <h1>Profile Results</h1>


          <table class="table table-striped table-hover">
              <thead class="table-light">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Password</th>
                  <th>Status</th>
                  <th>Change User Status</th>

                </tr>
              </thead>
              <tbody>
                  <tr *ngFor=" let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td *ngIf="user.active">Active</td>
                    <td *ngIf="!user.active">Inactive</td>
                    <td *ngIf="user.active">
                    <form><input type="hidden" name="active" value="{{user.active}}"><button type="submit" class="btn btn-dark btn-sm" (click)="user.active=false;adminUpdate(user)">Disable this User</button></form>
                  </td>
                  <td *ngIf="!user.active">
                    <form><input type="hidden" name="active" value="{{user.active}}"><button type="submit"class="btn btn-success btn-sm" (click)="user.active=true;adminUpdate(user)">Enable this User</button></form>
                  </td>
                  </tr>
              </tbody>
            </table>
          </div>
          </div>
    </div>
