
<button (click)="editedUser = loginUser">Update?</button>

<div class="container container-fluid" *ngIf="editedUser">
  <div class="updateLogin">
    <form class="css-form form-control">
        <h3>Username</h3>
        <input type="text" name="username" [(ngModel)]="editedUser.username">
        <h3>Password</h3>
        <input type="password" name="password" [(ngModel)]="editedUser.password">
      </form>
      <button type="submit" (click)="updateLogin(editedUser)">Update Login</button>
    </div>
  </div>


  <!-- ////////////////////////// -->



    <!-- ////////////////// -->

    <div class="form-style-8">
      <h2>Login to your account</h2>
      <form>
        <input type="text" name="field1" placeholder="Username" />
        <input type="email" name="field2" placeholder="Email" />
        <input type="password" name="field3" placeholder="Password" />
        <input type="button" value="Login" />
      </form>
    </div>



    <!-- //////////////////////////////////////////////////// -->






    <!-- /////////// -->


