<main>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
(click)="openPopupSearch()">Filter</button>

<!-- Shows Profiles Based on Search Criteria -->
<div *ngIf="loggedIn()&&!outOfMatches && displayProfiles.length!=0" >
  <h2>Start swiping</h2>
  <div *ngIf="selected">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-3 g-{{1}}">
        <div class="center-things">
        <div class ="box-item ">
          <div class ="flip-box">
            <div class ="flip-box-front text-left" style="background-image:url({{selected.profilePic}});">

              <div class="inner color-white">
                <h3 class ="flip-box-header"> {{selected.firstName}} {{selected.age}}</h3>
                <span>{{selected.sex}} {{selected.address.state}}</span><br/>
                Preferences: <span *ngFor="let pref of selected.preferences">{{pref.name}} </span><br/>
              </div>
            </div>
            <div class="flip-box-back" style="background-image:url({{selected.images[counterForPic].imageUrl}});">
              <div class="inner color-white">
                <span class="text-start" (click)="selectPicBackward(selected.images)">Last pic </span>
                <span class="float-end" (click)="selectPicForward(selected.images)">Next pic</span><br/>
                Categories: <span *ngFor="let cat of selected.categories">{{cat.name}} </span>
                <p class ="flip-box-header-back">{{selected.description}}</p>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>

  <div class="centered">
    <hr>
    <a class="offcentered-left" (click)="nextAProfile()">
      <span class="material-symbols-outlined">
        close
        </span>
    </a>
    <a class="offcentered-right" (click)="likedAProfile()">
      <span class="material-symbols-outlined">
        favorite
        </span>
    </a>
  </div>
  </div>
<!-- </div> -->

</div>
</div>


  <div *ngIf="outOfMatches">
  <h1>Out of matches, check back later to see if anyone likes you back</h1>
  </div>
<h1 *ngIf="counter !=1 && displayProfiles.length===0 ">Sorry, no profiles match your Search Criteria</h1>


<!-- Modals -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">You have a Star</h4>
      </div>
      <div class="modal-body">
        <p>Your stars have aligned with: <strong (click)="toProfilePage()">{{starName}}</strong></p>

      </div>

      <div class="modal-footer">
        <button type="button" class=""(click)="closePopup()">
          Close
        </button>
          <button type="button" class="" (click)="toChat()">
            Send a Chat
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Search -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyleSearch}">


  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter</h4>
      </div>
      <div class="modal-body">
        State:<select name="state" [(ngModel)]="selectedState">
          <option *ngFor="let state of stateAbr" [ngValue]="state" value="{{state}}">{{state}}</option>
        </select><br>
      Sex:<select name="type" [(ngModel)]="selectedType">
          <option *ngFor="let type of types" [ngValue]="type"value="{{type}}">{{type}}</option>
        </select><br>
      Category:<select name="cat" [(ngModel)]="selectedCat">
          <option *ngFor="let cat of categories" [ngValue]="cat" value="{{cat}}">{{cat}}</option>
        </select><br>
      Minimum Age:<select name="ageMin" [(ngModel)]="ageMin">
        <option *ngFor="let age of ages" [ngValue]="age" value="{{age}}">{{age}}</option>
      </select><br>
      Maximum Age:<select name="ageMax" [(ngModel)]="ageMax">
        <option *ngFor="let age of ages" [ngValue]="age" value="{{age}}">{{age}}</option>
        </select><br>
      </div>

      <div class="modal-footer">
        <button type="button" class=""(click)="closePopupSearch()">
          Close
        </button>
        <button (click)="displayList()">Search</button>
      </div>
    </div>
  </div>
</div>
</main>

