State:<select name="state" [(ngModel)]="selectedState">
    <option *ngFor="let state of stateAbr" [ngValue]="state" value="{{state}}">{{state}}</option>
  </select><br>
Sex:<select name="type" [(ngModel)]="selectedType">
    <option *ngFor="let type of types" [ngValue]="type"value="{{type}}">{{type}}</option>
  </select><br>
Category:<select name="cat" [(ngModel)]="selectedCat">
    <option *ngFor="let cat of categories" [ngValue]="cat" value="{{cat}}">{{cat}}</option>
  </select><br>
Minimum Age:<select name="ageMin" [(ngModel)]="ageMin">
  <option *ngFor="let age of ages" [ngValue]="age" value="{{age}}">{{age}}</option>
</select><br>
Maximum Age:<select name="ageMax" [(ngModel)]="ageMax">
  <option *ngFor="let age of ages" [ngValue]="age" value="{{age}}">{{age}}</option>
  </select><br>
<button (click)="displayList()">Search</button>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-{{getNumberOfProfiles()}}">
    <div *ngFor="let selected of displayProfiles">
    <div class ="box-item">
      <div class ="flip-box">
        <div class ="flip-box-front text-left" style="background-image:url({{selected.profilePic}});">

          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{selected.firstName}} {{selected.age}}</h3>
            <span>{{selected.sex}} {{selected.address.state}}</span><br/>
            Preferences: <span *ngFor="let pref of selected.preferences">{{pref.name}} </span><br/>
          </div>
        </div>
        <div class="flip-box-back" style="background-image:url({{selected.profilePic}});">
          <div class="inner color-white background-purple">
            Categories: <span *ngFor="let cat of selected.categories">{{cat.name}} </span>
            <p>{{selected.description}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
<h1 *ngIf="counter !=1 && displayProfiles.length===0 ">Sorry, no profiles match your Search Criteria</h1>
