<div class="background">
  <div *ngIf="selected &&displayAllInfo && !basicEdit && !sexualityEdit && !locationEdit && !picsEdit">





     <body>
      <div class="header__wrapper">
        <header></header>
        <div class="cols__container">
          <div class="left__col">
            <div class="img__container">
              <img [src]="selected.profilePic"/>
              <span></span>
            </div>
            <h2>{{selected.firstName }} {{selected.lastName}}</h2>
            <p>{{ selected.age }} years old</p>
            <p>{{selected.address.city}}, {{ selected.address.state }}</p>
            <p> {{selected.address.zip}} {{selected.address.country}}</p>
            <button *ngIf="editButtons" (click)="locationEdit=true">editAddress</button>


            <ul class="about">
              <li><span>Sex</span>{{ selected.sex }}</li>
              <li><span>Preferences</span><div *ngFor="let pref of selected.preferences">{{ pref.name }}</div></li>
            </ul>
            <button *ngIf="editButtons" (click)="sexualityEdit=true">Edit Sexuality</button>


            <div class="content">
              <p>
                {{ selected.description }}
              </p>
              <button *ngIf="editButtons" (click)="basicEdit=true">Edit basics</button> <br>


              <ul>
                <a href="">
                  <img src="https://cdn-icons-png.flaticon.com/128/1377/1377213.png" alt="" width="40" height="40">
                </a>
                <a href="">
                  <img src="https://cdn-icons-png.flaticon.com/128/1051/1051275.png"width="40" height="40">
                </a>
                <a href="">
                  <img src="https://cdn-icons-png.flaticon.com/128/3670/3670166.png"width="40" height="40">
                </a>
                <a href="">
                  <img src="https://cdn-icons-png.flaticon.com/128/4138/4138124.png"width="40" height="40">
                </a>
              </ul>
            </div>
          </div>
          <div class="right__col">
            <nav>
              <ul>
                <li><a (click)="photoLinkToggle()">photos</a></li>
                <li><a (click)="mixerLinkToggle()">mixers</a></li>
                <li><a (click)="interestLinkToggle()">interests</a></li>
                <li><a href="">hobbies</a></li>
              </ul>

            </nav>

            <div *ngIf="showPhotos" class="photos">
             <div *ngFor="let pic of selected.images">
              <img [src]="pic.imageUrl" class="pfp" />

            </div>
            <button *ngIf="editButtons" (click)="picsEdit=true">Edit pictures</button>
            </div>

            <div *ngIf="showMixers" class="mixers">
              <div>

                <h4>Mixers Hosting:</h4>
                  <div *ngFor="let mixer of selected?.mixers">
                    <ul>

                      <li> {{ mixer.name }} </li>
                    </ul>
                  </div>
              </div>

              <div>

                <h4>Mixers Attending:</h4>
                <div *ngFor="let mixer of selected?.mixersAttending">
                  <ul>

                    <li>{{ mixer.name }}</li>
                  </ul>

                </div>
              </div>
              </div>

              <div *ngIf="showInterests" class="interests">
                <div>

                  <h5>Categories:</h5>
                  <div *ngFor="let cat of selected?.categories">
                    <ul>

                      <p>{{ cat.name }}</p>
                    </ul>
                  </div>
                </div>
                </div>


          </div>
        </div>
      </div>
    </body>


<!-- Profile Pic -->
    <!-- <div class="container-fluid">
      <div class="nameNpfp" >
        <img id="profilePic" [src]="selected.profilePic" />
        <h2>{{selected.firstName }} {{selected.lastName}}</h2>
      </div>
    </div> -->


<!-- Personal Info -->
  <!-- <div class="container-fluid">
    <div class="infoMe">
      <div>
        <p>Age: {{ selected.age }} </p>
        <p>Birthday: {{ selected.birthday }} </p>
        <p>{{ selected.updatedOn }}</p>
      </div>
         <button *ngIf="editButtons" (click)="basicEdit=true">Edit basics</button> <br>
           <div *ngIf="selected.address">
             <br>
             <p>{{selected.address.city}}, {{ selected.address.state }}</p>
             <p> {{selected.address.zip}} {{selected.address.country}}</p>
            </div>
         <button *ngIf="editButtons" (click)="locationEdit=true">editAddress</button>
    </div>
  </div> -->



<!-- About Me -->
    <!-- <div class="container-fluid">
      <div class="aboutMe">
        <h2>About:</h2>
        <p>{{ selected.description }}</p>
      </div>
    </div> -->


<!-- Photos -->

  <!-- <div class="container-fluid">
    <div class="photosMe">
      <h2>Photos:</h2>
       <div *ngFor="let pic of selected.images">
         <img [src]="pic.imageUrl" class="pfp" />
        </div>
      <button *ngIf="editButtons" (click)="picsEdit=true">Edit pictures</button>
    </div>
  </div> -->


 <!-- Preference Info   -->

<!-- <div class="container-fluid">
  <div class="interests">
      <div class="innerMidLeft">
        <h5>Gender:</h5>
          <p>{{ selected.sex }}</p>
      </div>
      <div class="midLeft">
        <h5>Preferences:</h5>
        <div *ngFor="let pref of selected.preferences">{{ pref.name }}</div>
      </div>
      <div class="outerMidLeft">
        <h5>Categories:</h5>
        <div *ngFor="let cat of selected?.categories">
          {{ cat.name }}
        </div>
      </div>
      <div class="sexBtn">
        <button *ngIf="editButtons" (click)="sexualityEdit=true">Edit Sexuality</button>
      </div>
</div>
</div> -->


<!-- Mixer Info   -->

<!-- <div class="container-fluid" id="mixers">
  <div class="row row-cols-1">
    <div class="upperRight">
      <h4>Mixers Hosting:</h4>
        <div *ngFor="let mixer of selected?.mixers">{{ mixer.name }}</div>
      </div>
        <div class="midRight">
          <h4>Mixers Attending:</h4>
        <div *ngFor="let mixer of selected?.mixersAttending">{{ mixer.name }}</div>
      </div>
    </div>
  </div> -->
  </div>
</div>

<!-- End -->
<!-- You don't have a profile. -->
<div *ngIf="!selected&&!editProfile&&!basicEdit">
  <h1>It seems you don't have a profile</h1>
  <h4>Let's get one set up in 4 simple steps</h4>
  <button type="button" (click)="createProfile()">Let's get started</button>
</div>

<!-- create basic -->
<!-- <div *ngIf="basicEdit&&!editProfile">
  <h1>Basic Info</h1>
  <form action="createProfile">
    <label for="firstName" *ngIf="newProfile.firstName==''" class="red-letters">First Name:</label>
    <label for="firstName" *ngIf="newProfile.firstName!=''">First Name:</label>
    <input
      type="text"
      name="firstName"
      [(ngModel)]="newProfile.firstName"
    /><br />
    <label for="lastName" *ngIf="newProfile.lastName==''" class="red-letters">Last Name:</label>
    <label for="lastName" *ngIf="newProfile.lastName!=''">Last Name:</label>
    <input
      type="text"
      name="lastName"
      [(ngModel)]="newProfile.lastName"
    /><br />
    <label for="lastName" *ngIf="newProfile.description==''" class="red-letters">Description:</label>
    <label for="lastName" *ngIf="newProfile.description!=''">Description:</label>
    <input
      type="text"
      name="description"
      [(ngModel)]="newProfile.description"
    /><br />
    <label for="lastName" *ngIf="newProfile.age<18" class="red-letters">Age:</label>
    <label for="lastName" *ngIf="newProfile.age>=18">Age:</label>
    <input type="number" name="age" min="18" [(ngModel)]="newProfile.age"/><br />

    <label for="lastName" *ngIf="newProfile.birthday==''" class="red-letters">Birthday:</label>
    <label for="lastName" *ngIf="newProfile.birthday!=''">Birthday:</label>

    <input type="date" name="birthday" [(ngModel)]="newProfile.birthday"/>

    <button type="button" *ngIf="newProfile.firstName!=''&&newProfile.lastName!=''&&newProfile.description!=''
    &&newProfile.age>=18&&newProfile.birthday!=''"
    (click)="basicEditCreate()">Save</button>
    <div *ngIf="newProfile.firstName==''||newProfile.lastName==''||newProfile.description==''
    ||newProfile.age<18||newProfile.birthday==''" class="redletters">
  Please fill out all the information before saving.
  </div>
  </form>
</div> -->

<!-- create basic -->
<div class="form-style-8" *ngIf="basicEdit&&!editProfile">
  <h2>Set Up Your Profile</h2>
  <form>
    <label for="firstName" *ngIf="newProfile.firstName==''" class="red-letters">First Name:</label>
    <label for="firstName" *ngIf="newProfile.firstName!=''">First Name:</label>
    <input type="firstName" name="field1" placeholder="first name" [(ngModel)]="newProfile.firstName"/>
    <br>
    <label for="lastName" *ngIf="newProfile.lastName==''" class="red-letters">Last Name:</label>
    <label for="lastName" *ngIf="newProfile.lastName!=''">Last Name:</label>
    <input type="lastName" name="field2" placeholder="last name"  [(ngModel)]="newProfile.lastName"/>
    <br>
    <label for="description" *ngIf="newProfile.description==''" class="red-letters">Description:</label>
    <label for="description" *ngIf="newProfile.description!=''">Description:</label>
    <input type="description" name="field3" placeholder="description" [(ngModel)]="newProfile.description"/>
    <br>
    <label for="lastName" *ngIf="newProfile.age<18" class="red-letters">Age:</label>
    <label for="lastName" *ngIf="newProfile.age>=18">Age:</label>
    <input type="age" name="field4" placeholder="age" [(ngModel)]="newProfile.age"/>
    <br>
    <label for="lastName" *ngIf="newProfile.birthday==''" class="red-letters">Birthday:</label>
    <label for="lastName" *ngIf="newProfile.birthday!=''">Birthday:</label>
    <input type="date" name="field5" placeholder="birthday" [(ngModel)]="newProfile.birthday"/>
    <br>
    <input *ngIf="newProfile.firstName!=''&&newProfile.lastName!=''&&newProfile.description!=''
    &&newProfile.age>=18&&newProfile.birthday!=''" type="button" value="save" (click)="basicEditCreate()"/>

  </form>
</div>




<!-- edit basic -->
<div class="form-style-8" *ngIf="basicEdit&&editProfile">
  <h2>Update Basic Info</h2>
  <form>
    <label for="firstName" *ngIf="editProfile.firstName==''" class="red-letters">First Name:</label>
    <label for="firstName" *ngIf="editProfile.firstName!=''">First Name:</label>
    <input type="firstName" name="field1" placeholder="first name" [(ngModel)]="editProfile.firstName"/>
    <br>
    <label for="lastName" *ngIf="editProfile.lastName==''" class="red-letters">Last Name:</label>
    <label for="lastName" *ngIf="editProfile.lastName!=''">Last Name:</label>
    <input type="lastName" name="field2" placeholder="last name"  [(ngModel)]="editProfile.lastName"/>
    <br>
    <label for="description" *ngIf="editProfile.description==''" class="red-letters">Description:</label>
    <label for="description" *ngIf="editProfile.description!=''">Description:</label>
    <input type="description" name="field3" placeholder="description" [(ngModel)]="editProfile.description"/>
    <br>
    <label for="lastName" *ngIf="editProfile.age<18" class="red-letters">Age:</label>
    <label for="lastName" *ngIf="editProfile.age>=18">Age:</label>
    <input type="age" name="field4" placeholder="age" [(ngModel)]="editProfile.age"/>
    <br>
    <label for="lastName" *ngIf="editProfile.birthday==''" class="red-letters">Birthday:</label>
    <label for="lastName" *ngIf="editProfile.birthday!=''">Birthday:</label>
    <input type="date" name="field5" placeholder="birthday" [(ngModel)]="editProfile.birthday"/>
    <br>
    <input *ngIf="editProfile.firstName!=''&&editProfile.lastName!=''&&editProfile.description!=''
    &&editProfile.age>=18&&editProfile.birthday!=''" type="button" value="save" (click)="basicEditSave()"/>
    <input type="button" *ngIf="!initialCreate" (click)="basicEdit=false" value="cancel">
  </form>
</div>



<!-- edit basic -->
<!-- <div *ngIf="basicEdit&&editProfile">
  <form action="createProfile">
    <label for="firstName" *ngIf="editProfile.firstName==''" class="red-letters">First Name:</label>
    <label for="firstName" *ngIf="editProfile.firstName!=''">First Name:</label>
    <input
      type="text"
      name="firstName"
      [(ngModel)]="editProfile.firstName"
      required
    /><br />
    <label for="lastName" *ngIf="editProfile.lastName==''" class="red-letters">Last Name:</label>
    <label for="lastName" *ngIf="editProfile.lastName!=''">Last Name:</label>
    <input
      type="text"
      name="lastName"
      [(ngModel)]="editProfile.lastName"
      required
    /><br />
    <label for="lastName" *ngIf="editProfile.description==''" class="red-letters">Description:</label>
    <label for="lastName" *ngIf="editProfile.description!=''">Description:</label>
    <input
      type="text"
      name="description"
      [(ngModel)]="editProfile.description"
    /><br />
    <label for="lastName" *ngIf="editProfile.age<18" class="red-letters">Age:</label>
    <label for="lastName" *ngIf="editProfile.age>=18">Age:</label>
    <input type="number" name="age" min="18" [(ngModel)]="editProfile.age"/><br />

    <label for="lastName" *ngIf="editProfile.birthday==''" class="red-letters">Birthday:</label>
    <label for="lastName" *ngIf="editProfile.birthday!=''">Birthday:</label>
    <input type="text" name="birthday" [(ngModel)]="editProfile.birthday"/>

    <button type="button" *ngIf="editProfile.firstName!=''&&editProfile.lastName!=''&&editProfile.description!=''
    &&editProfile.age>=18&&editProfile.birthday!=''" (click)="basicEditSave()">Save</button>
    <button type="button" *ngIf="!initialCreate" (click)="basicEdit=false">Cancel</button>
  </form>
</div> -->

<!-- Edit sexuality -->
<div class="form-style-8" *ngIf="!basicEdit&&sexualityEdit&&editProfile">
  <h2>Update Your preferences</h2>
  <form>
    <Label for="sex" *ngIf="editProfile.sex==''" class="red=letters">Sex:</Label>
    <Label for="sex" *ngIf="editProfile.sex!=''">Sex:</Label>
    <select name="sex" [(ngModel)]="editProfile.sex">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Non-Binary">Non-Binary</option>
      <option value="Trans Man">Trans Man</option>
      <option value="Trans Woman">Trans Woman</option>
      <option value="Gender-Fluid">Gender-Fluid</option>
      <option value="None">Prefer not to say</option>
    </select>
    <h4>Preferences</h4>
    <div *ngFor="let pref of preferences; index as i">
      {{ pref.name }}:<input
        name="pref"
        type="checkbox"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="editProfile.preferences[i]"
      />
    </div>
    <h4>Categories</h4>
    <div *ngFor="let cat of categories; index as i">
      {{ cat.name }}:<input
        name="cat"
        type="checkbox"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="editProfile.categories[i]"
      />
    </div>
    <button type="button" *ngIf="editProfile.sex!=''" (click)="sexualityEditSave()">Save</button>
    <button type="button" *ngIf="!initialCreate" (click)="sexualityEdit=false">Cancel</button>  </form>
</div>





<!-- Edit Location -->
<div class="form-style-8" *ngIf="!sexualityEdit&&locationEdit&&editProfile">
  <form action="createProfile">

    <Label for="sex" *ngIf="newAddress.street==''" class="red-letters">Street:</Label>
      <Label for="sex" *ngIf="newAddress.street!=''">Street:</Label>
        <input
        type="text"
        name="street"
        [(ngModel)]="newAddress.street"
      /><br />

      <Label for="sex" *ngIf="newAddress.city==''" class="red-letters">City:</Label>
      <Label for="sex" *ngIf="newAddress.city!=''">City:</Label>
        <input
        type="text"
        name="city"
        [(ngModel)]="newAddress.city"
      /><br />

    <Label for="sex" *ngIf="newAddress.state==''" class="red-letters">State:</Label>
    <Label for="sex" *ngIf="newAddress.state!=''">State:</Label>
      <select name="state" [(ngModel)]="newAddress.state">
          <option *ngFor="let state of stateAbr" value="{{state}}">{{state}}</option>
        </select>
        <br/>

        <Label for="sex" *ngIf="newAddress.zip==''" class="red-letters">Zip:</Label>
      <Label for="sex" *ngIf="newAddress.zip!=''">Zip:</Label>
        <input
        type="text"
        name="zip"
        [(ngModel)]="newAddress.zip"
      /><br />
      <Label for="sex" *ngIf="newAddress.country==''" class="red-letters">Country:</Label>
      <Label for="sex" *ngIf="newAddress.country!=''">Country:</Label>
        <input
        type="text"
        name="country"
        [(ngModel)]="newAddress.country"
      /><br />
    <button type="button" *ngIf="newAddress.street!=''&&newAddress.city!=''&&newAddress.state!=''
    &&newAddress.zip!=''&&newAddress.country!=''"
    (click)="locationEditSave(newAddress)">Save</button>
    <button type="button" *ngIf="!initialCreate" (click)="locationEdit=false">Cancel</button>
  </form>
</div>

<!-- Edit pics -->
<div class="form-style-8" *ngIf="!locationEdit&&picsEdit&&editProfile">
  <img [src]="editProfile.profilePic" width="450" height="500"/>
  <Label for="sex" *ngIf="editProfile.profilePic==''" class="red-letters">Profile Pic:</Label>
  <Label for="sex" *ngIf="editProfile.profilePic!=''">Profile Pic:</Label>
  <input
  type="text"
  name="profilePic"
  [(ngModel)]="editProfile.profilePic"
  />
  <button type="button" *ngIf="editProfile.profilePic!=''" (click)="picsEditSave()">Save Profile Pic</button>
  <hr>
  <div *ngFor="let pic of editProfile.images; index as i" (click)="deletePic(i)">
    <img [src]="pic.imageUrl" width="250" height="300"/><br/>
  </div>
  Image URL:<input
    type="text"
    name="imageUrl"
    [(ngModel)]="newImage.imageUrl"
  />
  <button type="button" *ngIf="amountOfImages<5" (click)="addImageToProfile()">Add another image?</button>

  <button type="button" *ngIf="!initialCreate" (click)="picsEdit=false">Close</button>
</div>


<!-- Trying out cards to display profile  -->
<div *ngIf="selected&&displayProfile&&!initialCreate" >
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-{{1}}">
      <div class="center-things">
      <div class ="box-item">
        <div class ="flip-box">
          <div class ="flip-box-front text-left" style="background-image:url({{selected.profilePic}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{selected.firstName}} {{selected.age}}</h3>
              <span>{{selected.sex}} {{selected.address.state}}</span><br/>
              Preferences: <span *ngFor="let pref of selected.preferences">{{pref.name}} </span><br/>
            </div>
          </div>
          <div class="flip-box-back" style="background-image:url({{selected.images[counterForPic].imageUrl}});">
            <div class="inner color-white background-purple">
              <span class="text-start" (click)="selectPicBackward(selected.images)">Last pic </span>
              <span class="float-end" (click)="selectPicForward(selected.images)">Next pic</span><br/>
              Categories: <span *ngFor="let cat of selected.categories">{{cat.name}} </span>
              <p>{{selected.description}}</p>
            </div>
          </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>

<!-- Buttons -->
<div *ngIf="selected&&!initialCreate&&!displayAllInfo">
  <button (click)="displayAllInfoPage()">See all profile info</button>
  <!-- <button (click)="editButtonsToggle()">Edit profile</button>
  <button (click)="displayProfilePage()">See Profile</button> -->
</div>

<!-- Buttons For See All Profile info -->
<div *ngIf="selected&&!initialCreate&&displayAllInfo&&!basicEdit && !sexualityEdit && !locationEdit && !picsEdit">
<button (click)="editButtonsToggle()">Edit </button>
<button (click)="displayProfilePage()">Back</button>
</div>
