<h1>{{title}}<span class="badge" [ngClass]="getBadgeColor()">{{getNumberOfMixers()}}</span></h1>

<div *ngIf="!selected">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tr *ngFor="let mixer of mixers">
  <td (click)="displayMixer(mixer); selected = mixer">{{mixer.name}}</td>
  <td><input (change)="updateCompleted(mixer); selected = null"/></td>
  <td>{{mixer.description}}</td>
  <td><button class="btn btn-danger"  (click)="deleteMixer(mixer.id)">X</button></td>
</tr>
</table>
<form *ngIf="!selected">
<input type="text" name="task" [(ngModel)]="newMixer.name">
<button (click)="addMixer()">Add Mixer</button>
</form>
</div>
<div *ngIf="!selected" >
  <div *ngFor="let mixer of mixers">
  <div class="container">
    <div class="row">
      <div class ="box-item col-md-4">
        <div class ="flip-box">
          <div class ="flip-box-front text-center" style="background-image:url({{mixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{mixer.name}}</h3>
              <p>{{mixer.eventDate}}</p>
            </div>
          </div>
          <div class="flip-box-back text-center" style="background-image:url({{mixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{mixer.description}}</h3>
              <p>{{mixer.eventDate}}</p>
              <p>{{mixer.eventStart}}</p>
              <p>{{mixer.eventEnd}}</p>
              <button class ="flip-box-button">Button info here</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="selected && !editMixer" >
  <h2>{{selected.id}}</h2>
  <h3>{{selected.name}}</h3>
  <h3>Description: {{selected.description}}</h3>
<h3>Event Start: {{selected.eventStart}}</h3>

  <button (click)="displayTable()">Back</button>
  <button (click)="setEditMixer()">Edit</button>
</div>

<form  *ngIf="editMixer">
 <label>Task: </label> <input type="text" name="task" [(ngModel)]="editMixer.name"> <br>
 <label>Description: </label> <input type="text" name="decription" [(ngModel)]="editMixer.description"> <br>

<button (click)="editMixer = null">Cancel</button>
<button (click)="updateMixer(editMixer)">Save</button>
</form>

<div *ngIf="selected" >
<div class="container">
  <div class="row">
    <div class ="box-item col-md-4">
      <div class ="flip-box">
        <div class ="flip-box-front text-center" style="background-image:url({{selected.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{selected.name}}</h3>
            <p>{{selected.eventDate}}</p>
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:url({{selected.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{selected.description}}</h3>
            <p>{{selected.eventDate}}</p>
            <p>{{selected.eventStart}}</p>
            <p>{{selected.eventEnd}}</p>
            <button class ="flip-box-button">Button info here</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
