<h1>{{title}}</h1>
<div *ngIf="!selected" >
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-{{getNumberOfMixers()}}">
      <div *ngFor="let mixer of mixers">
      <div class ="box-item">
        <div class ="flip-box" (click)="displayMixer(mixer); selected = mixer">
          <div class ="flip-box-front text-center" style="background-image:url({{mixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{mixer.name}}</h3>
              <p>{{mixer.eventDate}}</p>
            </div>
          </div>
          <div class="flip-box-back text-center" style="background-image:url({{mixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{mixer.description}}</h3>
              <p>{{mixer.eventDate}}</p>
              <p>{{mixer.eventStart}}</p>
              <p>{{mixer.eventEnd}}</p>
              <button class ="flip-box-button">Button info here</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="addForm">
<form *ngIf="!selected">
  <input type="text" name="name" placeholder="Name"[(ngModel)]="newMixer.name"><br>
  <input type="text" name="description" placeholder="description"[(ngModel)]="newMixer.description"><br>
  <input type="text" name="imageUrl" placeholder="imageUrl"[(ngModel)]="newMixer.imageUrl"><br>
  <input type="date" name="eventDate" placeholder="eventDate"[(ngModel)]="newMixer.eventDate"><br>
  <input type="time" name="eventStart" placeholder="eventStart"[(ngModel)]="newMixer.eventStart"><br>
  <input type="time" name="eventEnd" placeholder="eventEnd"[(ngModel)]="newMixer.eventEnd"><br>
  <button (click)="addMixer()">Add Mixer</button>
  </form>
  <div class="container">
    <div class="row">
      <div class ="box-item col-md-4">
        <div class ="flip-box">
          <div class ="flip-box-front-edit text-center" style="background-image:url({{newMixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{newMixer.name}}</h3>
              <p>{{newMixer.eventDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class ="box-item col-md-4">
        <div class ="flip-box">
          <div class="flip-box-back-edit text-center" style="background-image:url({{newMixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{newMixer.description}}</h3>
              <p>{{newMixer.eventDate}}</p>
              <p>{{newMixer.eventStart}}</p>
              <p>{{newMixer.eventEnd}}</p>
              <button class ="flip-box-button">Button info here</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form  *ngIf="editMixer">
 <label>Task: </label> <input type="text" name="task" [(ngModel)]="editMixer.name"> <br>
 <label>Description: </label> <input type="text" name="decription" [(ngModel)]="editMixer.description"> <br>
 <div class="container">
  <div class="row">
    <div class ="box-item col-md-4">
      <div class ="flip-box">
        <div class ="flip-box-front-edit text-center" style="background-image:url({{editMixer.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{editMixer.name}}</h3>
            <p>{{editMixer.eventDate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class ="box-item col-md-4">
      <div class ="flip-box">
        <div class="flip-box-back-edit text-center" style="background-image:url({{editMixer.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{editMixer.description}}</h3>
            <p>{{editMixer.eventDate}}</p>
            <p>{{editMixer.eventStart}}</p>
            <p>{{editMixer.eventEnd}}</p>
            <button class ="flip-box-button">Button info here</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="editMixer = null">Cancel</button>
<button (click)="updateMixer(editMixer)">Save</button>
</form>

<div *ngIf="selected && !editMixer" >
<div class="container">
  <div class="row">
    <div class ="box-item col-md-4">
      <div class ="flip-box">
        <div class ="flip-box-front text-center" style="background-image:url({{selected.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{selected.name}}</h3>
            <p>{{selected.eventDate}}</p>
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:url({{selected.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{selected.description}}</h3>
            <p>{{selected.eventDate}}</p>
            <p>{{selected.eventStart}}</p>
            <p>{{selected.eventEnd}}</p>
            <button class ="flip-box-button">Button info here</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="displayTable()">Back</button>
<button (click)="setEditMixer()">Edit</button>
</div>
