<body>
  <!-- filter criteria -->
  State:<select name="state" [(ngModel)]="selectedState">
    <option *ngFor="let mixer of mixers" [ngValue]="mixer.address.state" value="{{mixer.address.state}}">{{mixer.address.state}}</option>
  </select><br>
  City:<select name="state" [(ngModel)]="selectedCity">
    <option *ngFor="let mixer of mixers" [ngValue]="mixer.address.city" value="{{mixer.address.city}}">{{mixer.address.city}}</option>
  </select><br>
  <button (click)="getMixerList()">Search</button>

<!-- Shows all mixers -->
<div *ngIf="!selected" >
  <h1>{{title}}</h1>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-{{getNumberOfMixers()}}">

      <!-- <div *ngFor="let mixer of mixers"> -->
      <div *ngFor="let mixer of displayMixers">
      <div class ="box-item">
        <div class ="flip-box" (click)="displayMixer(mixer); selected = mixer">
          <div class ="flip-box-front text-center" style="background-image:url({{mixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{mixer.name}}</h3>
              <p>{{mixer.eventDate}}</p>
            </div>
          </div>
          <div class="flip-box-back text-center" style="background-image:url({{mixer.imageUrl}});">
            <div class="inner color-white">
              <div class ="flip-box-header-back"> {{mixer.description}}</div>
              <p>{{mixer.eventDate}}</p>
              <p>{{mixer.eventStart}}</p>
              <p>{{mixer.eventEnd}}</p>
              <p>{{mixer.address.street}}, {{mixer.address.city}} {{mixer.address.state}}</p>
              <button class ="flip-box-button">Show More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Shows how to add a form -->

<div class="form-style-8" *ngIf="!selected">
<form>
  <input type="text" name="name" placeholder="Name"[(ngModel)]="newMixer.name"><br>
  <input type="text" name="description" placeholder="description"[(ngModel)]="newMixer.description"><br>
  <input type="text" name="imageUrl" placeholder="imageUrl"[(ngModel)]="newMixer.imageUrl"><br>
  <input type="date" name="eventDate" placeholder="eventDate"[(ngModel)]="newMixer.eventDate"><br>
  <input type="time" name="eventStart" placeholder="eventStart"[(ngModel)]="newMixer.eventStart"><br>
  <input type="time" name="eventEnd" placeholder="eventEnd"[(ngModel)]="newMixer.eventEnd"><br>
  <input type="text" name="street" placeholder="Street"[(ngModel)]="newMixer.address.street"><br>
  <input type="text" name="city" placeholder="City"[(ngModel)]="newMixer.address.city"><br>
  <input type="text" name="state" placeholder="State"[(ngModel)]="newMixer.address.state"><br>
  <input type="text" name="zip" placeholder="Zip Code"[(ngModel)]="newMixer.address.zip"><br>
  <input type="text" name="country" placeholder="Country"[(ngModel)]="newMixer.address.country"><br>
  <button (click)="addMixer()">Add Mixer</button>
  </form>
  <div class="container">
    <div class="row">
      <div class ="box-item col-md-4">
        <div class ="flip-box">
          <div class ="flip-box-front-edit text-center" style="background-image:url({{newMixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{newMixer.name}}</h3>
              <p>{{newMixer.eventDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class ="box-item col-md-4">
        <div class ="flip-box">
          <div class="flip-box-back-edit text-center" style="background-image:url({{newMixer.imageUrl}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header-back"> {{newMixer.description}}</h3>
              <p>{{newMixer.eventDate}}</p>
              <p>{{newMixer.eventStart}}</p>
              <p>{{newMixer.eventEnd}}</p>
              <p>{{newMixer.address.street}}, {{newMixer.address.city}} {{newMixer.address.state}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edits a Mixer -->
<form class="form-style-8" *ngIf="editMixer">
  <div class="container">
    <div class="row">
      <div class ="box-item col-md-4">
        <div class ="flip-box">
          <div class ="flip-box-front-edit text-center" style="background-image:url({{editMixer.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{editMixer.name}}</h3>
            <p>{{editMixer.eventDate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class ="box-item col-md-4">
      <div class ="flip-box">
        <div class="flip-box-back-edit text-center" style="background-image:url({{editMixer.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header-back"> {{editMixer.description}}</h3>
            <p>{{editMixer.eventDate}}</p>
            <p>{{editMixer.eventStart}}</p>
            <p>{{editMixer.eventEnd}}</p>
            <p>{{editMixer.address.street}}, {{editMixer.address.city}} {{editMixer.address.state}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
<label>Name: </label> <input type="text" name="name" [(ngModel)]="editMixer.name">
<label>Description: </label> <input type="text" name="decription" [(ngModel)]="editMixer.description">
<label>Photo: </label> <input type="text" name="imageUrl" [(ngModel)]="editMixer.imageUrl">
<label>Date: </label> <input type="date" name="eventDate" [(ngModel)]="editMixer.eventDate">
<label>Start Time: </label> <input type="time" name="eventStart" [(ngModel)]="editMixer.eventStart">
<label>End Time: </label> <input type="time" name="eventEnd" [(ngModel)]="editMixer.eventEnd">
<label>Street: </label> <input type="text" name="street" [(ngModel)]="editMixer.address.street">
<label>City: </label> <input type="text" name="city" [(ngModel)]="editMixer.address.city">
<label>State: </label> <input type="text" name="state" [(ngModel)]="editMixer.address.state">
<label>Zip: </label> <input type="text" name="zip" [(ngModel)]="editMixer.address.zip">
<label>Country: </label> <input type="text" name="country" [(ngModel)]="editMixer.address.country"><br>
<button (click)="editMixer = null">Cancel</button>
<button (click)="updateMixer(editMixer)">Save</button>
</form>

<!-- Displays a mixer -->
<!-- <div *ngIf="selected && !editMixer" >
  <a (click)="displayTable()" class="previous round">&#8249;</a>

<div class="container">
  <div class="row">
    <div class ="box-item col-md-4">
      <div class ="flip-box">
        <div class ="flip-box-front text-center" style="background-image:url({{selected.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header"> {{selected.name}}</h3>
            <p>{{selected.eventDate}}</p>
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:url({{selected.imageUrl}});">
          <div class="inner color-white">
            <h3 class ="flip-box-header-back"> {{selected.description}}</h3>
            <p>{{selected.eventDate}}</p>
            <p>{{selected.eventStart}}</p>
            <p>{{selected.eventEnd}}</p>
            <p>{{selected.address.street}}, {{selected.address.city}} {{selected.address.state}}</p>
            <button (click)="joinMixer(selected)" class ="flip-box-button">Join Mixer!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="setEditMixer()">Edit</button>
</div> -->



  <div class="header__wrapper" *ngIf="selected && !editMixer">
    <header></header>
    <div class="cols__container">
      <div class="left__col">
        <div class="img__container">
          <img [src]="selected.imageUrl"/>
          <span></span>
        </div>
        <h2>{{selected.name}} </h2>
        <p>{{selected.eventDate}}</p>
        <div class="content">
          <p>
            {{ selected.description }}
          </p>
          <button (click)="setEditMixer()">Edit</button>
        </div>
      </div>
      <div class="right__col">
        <nav>
          <ul>
            <li><a (click)="detailsLinkToggle()">details</a></li>
            <li><a (click)="hostLinkToggle()">host</a></li>
          </ul>
        </nav>
        <div *ngIf="showDetails" class="details">
          <div>
              <p>Date: {{selected.eventDate}} </p>
               <p>Start Time: {{selected.eventStart}}</p>
              <p>End Time: {{selected.eventEnd}}</p>
              <p>Where: {{selected.address.city}}, {{ selected.address.state }}</p>
              <p>Address: {{selected.address.city}}, {{ selected.address.state }}</p>
              <p> {{selected.address.zip}} {{selected.address.country}}</p>
          </div>
        </div>
        <div *ngIf="showHost" class="host">
          <h2>Host</h2>
        </div>
      </div>
    </div>

    <!-- <img src="https://cdn-icons-png.flaticon.com/128/7915/7915208.png" width="40" height="40" (click)="displayTable()" class="previous round"> -->
    <a (click)="displayTable()" class="previous round">&#8249;</a>

<!-- <img src="https://cdn-icons-png.flaticon.com/128/5869/5869150.png" width="40" height="40" (click)="joinMixer(selected)" class="next oval"> -->
      <a (click)="joinMixer(selected)" class="next oval">Join Mixer!</a>

  </div>
</body>
