<h1>Interstellar Dating</h1>

<div class="spacing" *ngIf="!loggedIn()">
  <div class="login">
    <div class="row justify-content-center">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZkOIe6WLQlDP1II2E4fgmkqayQzvfyzLf1w&usqp=CAU"
        class="logo"
      />

      <hr />

      <form>
        <h3>Log In</h3>
        <label>Username: </label
        ><input type="text" name="username" [(ngModel)]="loginUser.username" />
        <br />
        <label>Password: </label
        ><input
          type="text"
          name="password"
          [(ngModel)]="loginUser.password"
        /><br />
        <button type="submit" (click)="login(loginUser)">Login</button>
      </form>

      <br />

      <div class="register" *ngIf="!loggedIn()">
        <h5>Don't have an account?</h5>
        <form>
          <label>Username: </label
          ><input [(ngModel)]="newUser.username" type="text" name="username" />
          <br />
          <label>Password: </label
          ><input
            [(ngModel)]="newUser.password"
            type="password"
            name="password"
          /><br />
          <label>Email: </label
          ><input [(ngModel)]="newUser.email" type="text" name="email" /> <br />
          <button type="submit" (click)="register(newUser)">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loggedIn()" >
<h2>Start swiping</h2>
<div *ngIf="selected">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-{{1}}">
      <div class ="box-item">
        <div class ="flip-box">
          <div class ="flip-box-front text-left" style="background-image:url({{selected.profilePic}});">

            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{selected.firstName}} {{selected.age}}</h3>
              <span>{{selected.sex}} {{selected.address.state}}</span><br/>
              Preferences: <span *ngFor="let pref of selected.preferences">{{pref.name}} </span><br/>
            </div>
          </div>
          <div class="flip-box-back" style="background-image:url({{selected.images[counterForPic].imageUrl}});">
            <div class="inner color-white background-purple">
              <span class="text-start" (click)="selectPicBackward(selected.images)">Last pic </span>
              <span class="float-end" (click)="selectPicForward(selected.images)">Next pic</span><br/>
              Categories: <span *ngFor="let cat of selected.categories">{{cat.name}} </span>
              <p>{{selected.description}}</p>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  </div>

  <button (click)="selectRandomProfile()">NEXT</button>
  <button (click)="likedAProfile()">LIKE</button>

</div>

