<p>view-profile works!</p>

<div *ngIf="selected" >
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-{{1}}">
      <div class ="box-item">
        <div class ="flip-box">
          <div class ="flip-box-front text-left" style="background-image:url({{selected.profilePic}});">
            <div class="inner color-white">
              <h3 class ="flip-box-header"> {{selected.firstName}} {{selected.age}}</h3>
              <span>{{selected.sex}} {{selected.address.state}}</span><br/>
              Preferences: <span *ngFor="let pref of selected.preferences">{{pref.name}} </span><br/>
            </div>
          </div>
          <div class="flip-box-back" style="background-image:url({{selected.images[counterForPic].imageUrl}});">
            <div class="inner color-white background-purple">
              <span class="text-start" (click)="selectPicBackward(selected.images)">Last pic </span>
              <span class="float-end" (click)="selectPicForward(selected.images)">Next pic</span><br/>
              Categories: <span *ngFor="let cat of selected.categories">{{cat.name}} </span>
              <p>{{selected.description}}</p>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
