
<div *ngIf="selected" >
  <body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img [src]="selected.profilePic"/>
            <span></span>
          </div>
          <h2>{{selected.firstName }} {{selected.lastName}}</h2>
          <p>{{ selected.age }} years old</p>
          <p>{{selected.address.city}}, {{ selected.address.state }}</p>
          <p> {{selected.address.zip}} {{selected.address.country}}</p>


          <ul class="about">
            <li><span>Sex</span>{{ selected.sex }}</li>
            <li><span>Preferences</span><div *ngFor="let pref of selected.preferences">{{ pref.name }}</div></li>
          </ul>


          <div class="content">
            <p>
              {{ selected.description }}
            </p>


            <ul>
              <a href="">
                <img src="https://cdn-icons-png.flaticon.com/128/1377/1377213.png" alt="" width="40" height="40">
              </a>
              <a href="">
                <img src="https://cdn-icons-png.flaticon.com/128/1051/1051275.png"width="40" height="40">
              </a>
              <a href="">
                <img src="https://cdn-icons-png.flaticon.com/128/3670/3670166.png"width="40" height="40">
              </a>
              <a href="">
                <img src="https://cdn-icons-png.flaticon.com/128/4138/4138124.png"width="40" height="40">
              </a>
            </ul>
          </div>
        </div>
        <div class="right__col">
          <nav>
            <ul>
              <li><a (click)="photoLinkToggle()">photos</a></li>
              <li><a (click)="mixerLinkToggle()">mixers</a></li>
              <li><a (click)="interestLinkToggle()">interests</a></li>
              <li><a href="">hobbies</a></li>
            </ul>

          </nav>

          <div *ngIf="showPhotos" class="photos">
           <div *ngFor="let pic of selected.images">
            <img [src]="pic.imageUrl" class="pfp" />

          </div>
          </div>

          <div *ngIf="showMixers" class="mixers">
            <div>

              <h4>Mixers Hosting:</h4>
                <div *ngFor="let mixer of selected?.mixers">
                  <ul>

                    <li> {{ mixer.name }} </li>
                  </ul>
                </div>
            </div>

            <div>

              <h4>Mixers Attending:</h4>
              <div *ngFor="let mixer of selected?.mixersAttending">
                <ul>

                  <li>{{ mixer.name }}</li>
                </ul>

              </div>
            </div>
            </div>

            <div *ngIf="showInterests" class="interests">
              <div>

                <h5>Categories:</h5>
                <div *ngFor="let cat of selected?.categories">
                  <ul>

                    <p>{{ cat.name }}</p>
                  </ul>
                </div>
              </div>
              </div>


        </div>
      </div>
    </div>
  </body>
</div>
