 <!-- <body>



  <main class="chat">
    <div class="container" >
    <div class="chat-content">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let message of messageService.chatMessages">
            <strong>{{message.sender.username}}:</strong>
            <span>{{message.content}}</span>
          </li>
        </ul>
      </div>
    </div>
    <form (ngSubmit)="sendMessage()"  >
      <div class="chat-send row">
        <div class="col-2">
          <input type="hidden" class="form-control" name="sender" id="input-user" ngModel="{{loggedInUser.username}}">
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="content" id="input-message" ngModel>

        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</main>

  </body> -->

  <!-- <body>
		<div class="container-fluid h-100">

			<div class="row justify-content-center h-100">

				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
 					<div class="card-header">
             <h2>Matches</h2>
					</div>
					<div class="card-body contacts_body">
						<ul class="contacts"  id="usersList">
              <li>Carmen</li>
              <li>Brittney</li>

						</ul>
					</div>

				</div>
				</div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head" id="formMessageHeader">
              <h1>Chat with {{loggedInUser.username}}</h1>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span id="username"></span>

								</div>
							</div>

						</div>
						<div class="card-body msg_card_body" id="formMessageBody">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let chatMessage of messageService.chatMessages" >
                  <strong>{{chatMessage.sender.username}}:</strong>
                  <span>{{chatMessage.content}}</span>
                </li>
              </ul>
						</div>
            <form (ngSubmit)="sendMessage()" #sendForm="ngForm">
						<div class="card-footer">
							<div class="input-group" id="formSubmit">

								 <textarea id="message-to-send" name="message-to-send" class="form-control type_msg" placeholder="Type your message..."></textarea>

							</div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
						</div>
          </form>
					</div>
				</div>
			</div>
		</div>
	</body> -->


  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> SimpleChat
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div
         class="msg-img"
         style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
        ></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">BOT</div>
            <div class="msg-info-time">12:45</div>
          </div>

          <div class="msg-text">
            Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
          </div>
        </div>
      </div>

      <div class="msg right-msg">
        <div
         class="msg-img"
         style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
        ></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Sajad</div>
            <div class="msg-info-time">12:46</div>
          </div>

          <div class="msg-text">
            You can change your name in JS section!
          </div>
        </div>
      </div>
    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>








