


<body>
<div class="container-fluid h-100">

  <div class="col-md-4 col-xl-3 chat">
    <div class="card mb-sm-3 mb-md-0 contacts_card">
 					<div class="card-header">
             <h2>Matches</h2>
					</div>
					<div class="card-body contacts_body">
						<ul class="contacts"  id="usersList">
              <li class="list-group-item" *ngFor="let match of matches" (click)="id=match.id;display()">
                <strong>{{match.firstName}}</strong>
              </li>
						</ul>
					</div>

				</div>
				</div>
</div>



        <main class="chat" *ngIf="selected">
          <div class="container-fluid h-100" >
      <form>
        <div class="chat-content" >
          <div class="card" >
        <div class="card-header">
          <h2 (click)="toProfilePage(selected.id)">Your chat with {{selected.username}}</h2>
        </div>

        <ul class="list-group list-group-flush" #scrollBottom id="dataDiv">
          <li class="list-group-item" *ngFor="let message of chatHistory">
            <div *ngIf="loggedInUser.username == message.sender.username" class="alignRight">
            <strong class="myText">You:</strong> <br>
            <span>{{message.content}}</span>
            </div>
            <div *ngIf="loggedInUser.username != message.sender.username">
              <strong class="yourText">{{message.sender.username}}:</strong> <br>
              <span>{{message.content}}</span>
              </div>
          </li>
          <!-- <li class="list-group-item" *ngFor="let message of loggedInUser.messagesSent">
            <div *ngIf="message.recipient.username == selected.username">
              <strong>{{message.sender.username}}:</strong>
              <span>{{message.content}}</span>
            </div>
          </li> -->
        </ul>

      </div>
      <div id="anchor"></div>
    </div>
      <div class="chat-send row">
        <div class="col-2">
          <input type="hidden" class="form-control" name="sender" id="input-user" [(ngModel)]="newMessage.sender">
        </div>
        <div class="col-8">
          <input type="hidden" class="form-control" name="recipient" id="input-message" [(ngModel)]="selected.username" >
        </div>
        <div class="col-8">
          <input class="form-control" name="content" placeholder="Type your message..." id="input-message"  [(ngModel)]="newMessage.content">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary" (click)="addMessage()">Send</button>

        </div>
      </div>
    </form>
  </div>

  <div>
    <form action="block">
    <input type="text" name="reason" [(ngModel)]="reason">
    <button (click)="block()">Block</button>
    </form>
  </div>

</main>

  </body>

