.chat{
  margin-top: 20px;
}

.chat-content{
  border-radius: .25rem;
  height: 30rem;
  margin-bottom: 2rem;
  margin-top: -20rem;
  margin-left: 25rem;


}
.list-group{

  overflow-y: auto;
overflow-anchor: none;

}



#anchor{
overflow-anchor: auto;
height: 1px;
}

.chat-send{
 margin-left: 25rem;
}

.card{
  height: 100%;
}

body{
  padding-bottom: 60px;

}


.alignRight{
  text-align: right;
}

.card-body{
  height:15rem;
  overflow-y: auto;
}
