<h1>Contact Page</h1>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-{{3}}">

    <div
     class ="box-item">
      <div class ="flip-box">
        <div class ="flip-box-front text-center" style="background-image:url({{image1}});">
          <div class="inner-front color-white">
            <h3 class ="flip-box-header">Daniel Schulenberg</h3>
            <p>Scrum leader</p>
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:url({{backgroundImage}});">
          <div class="inner-back color-white">
            <div class ="flip-box-header-back"></div>
            <a href="{{link11}}">
              <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="" width="40" height="40">
            </a>
            <a href="{{link12}}">
              <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"width="40" height="40">
            </a>
            <br/>
            <a href="{{link13}}">
              <span class="material-symbols-outlined">
                language
                </span>
            </a>
            <a href="{{link13}}">
              <span class="material-symbols-outlined">
                language
                </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
     class ="box-item">
      <div class ="flip-box">
        <div class ="flip-box-front text-center" style="background-image:url({{image2}});">
          <div class="inner-front color-white">
            <h3 class ="flip-box-header">Zach Kotterer</h3>
            <p>Database Administer</p>
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:url({{backgroundImage}});">
          <div class="inner-back color-white">
            <div class ="flip-box-header-back"></div>
            <a href="{{link21}}">
              <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="" width="40" height="40">
            </a>
            <a href="{{link22}}">
              <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"width="40" height="40">
            </a>
            <br/>
            <a href="{{link23}}">
              <span class="material-symbols-outlined">
                language
                </span>
            </a>
            <a href="{{link24}}">
              <span class="material-symbols-outlined">
                language
                </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
     class ="box-item">
      <div class ="flip-box">
        <div class ="flip-box-front text-center" style="background-image:url({{image3}});">
          <div class="inner-front color-white">
            <h3 class ="flip-box-header">James Ferro</h3>
            <p>Repo Owner</p>
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:url({{backgroundImage}});">
          <div class="inner-back color-white">
            <div class ="flip-box-header-back"></div>
            <a href="{{link31}}">
              <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="" width="40" height="40">
            </a>
            <a href="{{link32}}">
              <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"width="40" height="40">
            </a>
            <br/>
            <a href="{{link33}}">
              <span class="material-symbols-outlined">
                language
                </span>
            </a>
            <a href="{{link34}}">
              <span class="material-symbols-outlined">
                language
                </span>
            </a>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
