<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <nav class="navbar navbar-expand-lg bg-light" id="navbarBG">
        <div class="container-fluid">
        <a class="navbar-brand" href="">
          <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZkOIe6WLQlDP1II2E4fgmkqayQzvfyzLf1w&usqp=CAU"
          class="logo"
          height="40px"
          width="40px"
        />InterStellar
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active px-5" aria-current="page" *ngIf="loggedIn()"  [routerLink]="['/profile']">
                <span class="material-symbols-outlined">
                  person_filled
                  </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active px-5" aria-current="page" *ngIf="loggedIn()" [routerLink]="['/mixer']">
                <span class="material-symbols-outlined">
                  diversity_1
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-5" aria-current="page" *ngIf="loggedIn()"  [routerLink]="['/ichat']">
              <span class="material-symbols-outlined">
                forum
                </span>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-5"  aria-current="page"  *ngIf="loggedIn()" [routerLink]="['/search']">
                <span class="material-symbols-outlined">
                  person_search
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-5"  aria-current="page" *ngIf="loggedIn()"  [routerLink]="['/settings']">
                <span class="material-symbols-outlined">
                  settings
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-5"  aria-current="page" *ngIf="loggedIn()" (click)="logout()" [routerLink]="['/home']">
                  <span class="material-symbols-outlined">
                    logout
                    </span>
                </a>
            </li>

          </ul>
        </div>
      </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand px-5">
        <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZkOIe6WLQlDP1II2E4fgmkqayQzvfyzLf1w&usqp=CAU"
        class="logo"
        height="40px"
        width="40px"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active px-5">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active px-5" aria-current="page">
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-5" >
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-5"  aria-current="page" *ngIf="loggedIn()"  [routerLink]="['/settings']">
            <span class="material-symbols-outlined">
              settings
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-5"  aria-current="page" *ngIf="loggedIn()" (click)="logout()" [routerLink]="['/home']">
              <span class="material-symbols-outlined">
                logout
                </span>
            </a>
        </li>
      </ul>
    </div>
  </div> -->
  <nav class="navbar navbar-expand-sm fixed-bottom  bg-light">
    <div class="container-fluid">
      <a class="navbar-brand px-5" [routerLink]="['/search']">
        <span class="material-symbols-outlined">
          home
          </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active px-5" aria-current="page" *ngIf="loggedIn()"  [routerLink]="['/profile']">
            <span class="material-symbols-outlined">
              person_filled
              </span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active px-5" aria-current="page" *ngIf="loggedIn()" [routerLink]="['/mixer']">
            <span class="material-symbols-outlined">
              diversity_1
              </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-5" aria-current="page" *ngIf="loggedIn()"  [routerLink]="['/ichat']">
          <span class="material-symbols-outlined">
            forum
            </span>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-5"  aria-current="page"  *ngIf="loggedIn()" [routerLink]="['/search']">
            <span class="material-symbols-outlined">
              person_search
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
